<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Listado de proyectos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="createProject()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div style=" display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <ion-title style="margin-top: 20px;">Data obtenida:</ion-title>
  <ion-list >
      <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-card *ngFor="let project of projects" (click)="goToProjectDetail(project);">
           <ion-item>
            <ion-card-content>
               <ion-label>
                  <ion-card-title style="color:#007C00; font-size:16px;"> <b>{{project.name}}</b> </ion-card-title>
                  <h3> Lider: </h3>
                  <h3>{{project.leader.firstName}} {{project.leader.lastName}}</h3>
                
              </ion-label>
             </ion-card-content>
          </ion-item>
       </ion-card>
      </ion-row>
      </ion-grid>
  </ion-list>
  </div>
</ion-content>
