<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">

    <ion-card>
      <ion-card-header> Datos personales</ion-card-header>
      <ion-card-content>

        <ion-item>              
          <!-- <ion-select placeholder="Tanque" [(ngModel)] ="tank" (ionChange)="setTankValue(tank)">
              <ion-select-option  *ngFor="let tank of tankList.products">{{tank.productDescription}}</ion-select-option>
            </ion-select> -->
            <ion-select placeholder="Tipo">
              <ion-select-option> Empresarial </ion-select-option>
              <ion-select-option> Local </ion-select-option>
              <ion-select-option> Particular </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>              
            <!-- <ion-select placeholder="Tanque" [(ngModel)] ="tank" (ionChange)="setTankValue(tank)">
                <ion-select-option  *ngFor="let tank of tankList.products">{{tank.productDescription}}</ion-select-option>
              </ion-select> -->
              <ion-select placeholder="Lider">
                <ion-select-option> Prueba </ion-select-option>
              </ion-select>
            </ion-item>
       


        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-input placeholder="Nombre" type="text"></ion-input>
          </ion-item>
        
          <ion-item style="width: 150px; text-align: center;">
            <ion-input placeholder="Presupuesto"  type="number" min = "0">$</ion-input>
          </ion-item>


          
  <ion-item>
    <ion-label>Empleados Colaboradores</ion-label>
    <ion-select multiple="true" cancelText="Cancelar" okText="Agregar">
      <ion-select-option value="bacon">Bacon</ion-select-option>
      <ion-select-option value="olives">Black Olives</ion-select-option>
      <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
      <ion-select-option value="peppers">Green Peppers</ion-select-option>
      <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
      <ion-select-option value="onions">Onions</ion-select-option>
      <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      <ion-select-option value="pineapple">Pineapple</ion-select-option>
      <ion-select-option value="sausage">Sausage</ion-select-option>
      <ion-select-option value="Spinach">Spinach</ion-select-option>
    </ion-select>
  </ion-item>
  

        </ion-list>
    </ion-card-content>
    </ion-card>

    
    



    <div class="actionBtn" style="display: flex; justify-content: center; margin-bottom: 15px; margin-top: 25px; ">
      <ion-button size ="default">Crear Proyecto</ion-button>
 </div>

  
</ion-content>