<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">

    <ion-card>
      <ion-card-header> Datos Generales</ion-card-header>
      <ion-card-content>

        <ion-item>              
          <!-- <ion-select placeholder="Tanque" [(ngModel)] ="tank" (ionChange)="setTankValue(tank)">
              <ion-select-option  *ngFor="let tank of tankList.products">{{tank.productDescription}}</ion-select-option>
            </ion-select> -->
            <ion-select [(ngModel)] = "project.type" placeholder="Tipo">
              <ion-select-option value = "Empresarial"> Empresarial </ion-select-option>
              <ion-select-option value = "Local"> Local </ion-select-option>
              <ion-select-option value = "Particular"> Particular </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>              
            <!-- <ion-select placeholder="Tanque" [(ngModel)] ="tank" (ionChange)="setTankValue(tank)">
                <ion-select-option  *ngFor="let tank of tankList.products">{{tank.productDescription}}</ion-select-option>
              </ion-select> -->
              <ion-select placeholder="Lider" [(ngModel)]="employee" (ionChange)="setLeader(employee)">
                <ion-select-option *ngFor="let employee of employees" >{{employee.id}} - {{employee.firstName}} {{employee.lastName}} </ion-select-option>
              </ion-select>
            </ion-item>
       


        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-input  [(ngModel)]="project.name" placeholder="Nombre" type="text"></ion-input>
          </ion-item>
        
          <ion-item style="width: 150px; text-align: center;">
            <ion-input  [(ngModel)]="project.budget" placeholder="Presupuesto"  type="number" min = "0">$</ion-input>
          </ion-item>


          
  <ion-item>
    <ion-label>Empleados Colaboradores</ion-label>
    <ion-select [(ngModel)]="assignedUsers" multiple="true" cancelText="Cancelar" okText="Agregar" (ionChange)="printArray()">
      <ion-select-option [value]="{employeeId: employee.id}"
      *ngFor="let employee of employees">{{employee.id}} - {{employee.firstName}} {{employee.lastName}}
    </ion-select-option>
    </ion-select>
  </ion-item>
  

        </ion-list>
    </ion-card-content>
    </ion-card>

    
    



    <div class="actionBtn" style="display: flex; justify-content: center; margin-bottom: 15px; margin-top: 25px; ">
      <ion-button size ="default" (click)= "createProject()" >Crear Proyecto</ion-button>
 </div>

  
</ion-content>